// less compile to ../style.css

@import "underscores/_description";

@import "underscores/_normalize";
@import "underscores/_typography";
@import "underscores/_elements";
@import "underscores/_navigation";
@import "underscores/_accessibility";
@import "underscores/_alignments";
@import "underscores/_clearings";
@import "underscores/_widgets";
@import "underscores/_content";
@import "underscores/_infinite-scroll";
@import "underscores/_media";

@import "../_bootstrap/bootstrap";

@lighten_link_on_dark: 50%;
@area-padding: 40px;

@import "_mixins";

// General area
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

// Header area
#masthead {
	background-size: 100%;
	background-color: @gray;
	color: #fff;
	padding-top: @area-padding - 20px;
	padding-bottom: @area-padding;
	
	.dark-area-links();
	
	.site-branding {
		.site-title a {
			color: #fff;
		}
	}
}

// Content area
#page {
	flex: 1;
	background-color: fade(#fff, 70%);
}

.post {
	background-color: #fff;
	padding: 10px 20px 20px 20px;
	box-shadow: 0px 3px 12px fade(@gray, 50%);
	color: @gray-dark;
}

#content {
	padding-top: @area-padding - 20px;
	padding-bottom: @area-padding;
}

// Footer area
#colophon {
	background-color: @gray;
	color: #fff;
	
	.dark-area-links();
	
	#footer-menu {
		background-color: @gray;
		padding-top: @area-padding;
		padding-bottom: @area-padding;
	}
	
	#footer-line {
		background-color: @gray-dark;
		padding-top: @area-padding / 2;
		padding-bottom: @area-padding / 2;
	}
}