// less compile to ../style.css

@import "underscores/_description";

@import "underscores/_normalize";
@import "underscores/_typography";
@import "underscores/_elements";
@import "underscores/_navigation";
@import "underscores/_accessibility";
@import "underscores/_alignments";
@import "underscores/_clearings";
@import "underscores/_widgets";
@import "underscores/_content";
@import "underscores/_infinite-scroll";
@import "underscores/_media";

@import "../_bootstrap/bootstrap";

// Header area
#masthead {
	background-size: 100%;
	background-color: @gray;
	color: #fff;
}